In [1]:
import pandas as pd

## Exploring the Ames Housing dataset

We are going to load only 6 out of 80 columns using `usecols=columns` option in Pandas dataframe.

In [16]:
columns = ['Overall Qual', 'Overall Cond', 'Gr Liv Area',
           'Central Air', 'Total Bsmt SF', 'SalePrice']

In [17]:
df = pd.read_csv('AmesHousing.txt', 
                 sep='\t',
                 usecols=columns)

In [18]:
df.head()

,Overall Qual,Overall Cond,Total Bsmt SF,Central Air,Gr Liv Area,SalePrice
0,6,5,1080.0,Y,1656,215000
1,5,6,882.0,Y,896,105000
2,6,6,1329.0,Y,1329,172000
3,7,5,2110.0,Y,2110,244000
4,5,5,928.0,Y,1629,189900

In [19]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2930 entries, 0 to 2929
Data columns (total 6 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Overall Qual   2930 non-null   int64
 1   Overall Cond   2930 non-null   int64
 2   Total Bsmt SF  2929 non-null   float64
 3   Central Air    2930 non-null   object
 4   Gr Liv Area    2930 non-null   int64
 5   SalePrice      2930 non-null   int64
dtypes: float64(1), int64(4), object(1)
memory usage: 137.5+ KB

In [10]:
df.shape, df.size, len(df)

((2930, 6), 17580, 2930)

In [11]:
df.columns

Index(['Overall Qual', 'Overall Cond', 'Total Bsmt SF', 'Central Air',
       'Gr Liv Area', 'SalePrice'],
      dtype='object')

Let's now convert `Central Air` column into integer type.

In [20]:
df['Central Air'] = df['Central Air'].map({'Y': 1, 'N': 0})

In [21]:
df.head()

,Overall Qual,Overall Cond,Total Bsmt SF,Central Air,Gr Liv Area,SalePrice
0,6,5,1080.0,1,1656,215000
1,5,6,882.0,1,896,105000
2,6,6,1329.0,1,1329,172000
3,7,5,2110.0,1,2110,244000
4,5,5,928.0,1,1629,189900

In [22]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2930 entries, 0 to 2929
Data columns (total 6 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Overall Qual   2930 non-null   int64
 1   Overall Cond   2930 non-null   int64
 2   Total Bsmt SF  2929 non-null   float64
 3   Central Air    2930 non-null   int64
 4   Gr Liv Area    2930 non-null   int64
 5   SalePrice      2930 non-null   int64
dtypes: float64(1), int64(5)
memory usage: 137.5 KB

From this information we see that we have 1 missing value in `Total Bsmt SF`. We are going to drop it.

In [23]:
df.isnull()

,Overall Qual,Overall Cond,Total Bsmt SF,Central Air,Gr Liv Area,SalePrice
0,False,False,False,False,False,False
1,False,False,False,False,False,False
2,False,False,False,False,False,False
3,False,False,False,False,False,False
4,False,False,False,False,False,False
...,...,...,...,...,...,...
2925,False,False,False,False,False,False
2926,False,False,False,False,False,False
2927,False,False,False,False,False,False
2928,False,False,False,False,False,False
2929,False,False,False,False,False,False